.admin-container {
    display: flex;
    .Sidebar-container {
        .prosideBar {
            height: 100vh;
        }
    }
    .sidebar-content {
        cursor: pointer;
    }
    .pro-sidebar-footer {
        .sidebar-btn-wrapper {
            a {
                background-color: rgba(183, 195, 74, 0.926);
                padding: 8px 12px;
                border-radius: 16px;
                text-decoration: none;
                color: white;
                font-weight: bold;
                transition: all 0.5s;
                &:hover {
                    color: black;
                }
            }
        }
    }
}
